#sidebar {
  border: 1px;
  border-color: silver;
  border-style: solid;
  border-radius: 0.25em;
  padding: 0.25em;
  color: red;
  margin: 0.25em;
  width: 20%;
}

.link {
  display: flex;
  padding: 0.5em;
  margin: 0.25em;
  cursor: pointer;
  border: 3px;
  border-radius: 8px;
  border-color: red;
  border-style: solid;
  align-items: center;
}

.refreshBtn {
  margin-left: auto;
  margin-right: 0.5em;
}
