h1{
  color:#ff0000
}

#body{
  display: flex;
  height: 85%;
}


#addURL{
  width:4em;
  padding-right:2em;
}

#center{
  margin-left:7rem;
  border:1px;
  border-color:silver;
  border-style:solid;
  border-radius:0.25em;
  height:100%
}

#searchText{
  padding-left:1em;
}

html{
  height:100%;
  width:100%
}
body{
  height:90%;
}
